<!DOCTYPE html>
<html lang="en">
<!-- this is a test version. Do you really want to upload this? -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shoes By Sani - Baby leather shoes</title>
    <link rel="stylesheet" href="shoes_simple_copy.css">
</head>

<body>
    <div class="globalWrapper">
        
    <header id="header"><h1>Little Bird Shoes</h1>
        <!-- <img src="../img/top_back.jpg" alt="background image"> -->
        <p> Exclusive leather shoes and other cute things for little ones ⭐️ Made in Ireland 🍀 Worldwide shipping 🌎</p></header>
    <nav id="leftnav">  
        <!-- <nav><ul>
    <li>Хвейсбук</li>
    <li>Гінстагрем</li>
    <li>Чупакабра</li>
    <li>Пошта</li>
    <li>я десь тут</li>
    <li>лого-бого</li></ul>
    </nav>-->
    </nav> 
    <div class="container" id="main">

    <!--    <% items.shoes.forEach(function(leg) { %> 
            <div class="shoes" data-leg-id="<%= leg.id %> ">
            <div class="shoeName"><%= leg.name %> </div>
            <div><img src="img/<%= leg.imgName %>" alt="BABY LEATHER SHOES Golden beige"> </div>
            <div class="cardBottom">
            <button class="addtocart" id="Golden_beige"> Add to cart</button>
            <span class="price"><%= leg.price /100 %>  €</span></div></div><% }) %>
            -->
    <!-- NO MORE than 18 Characters in a shoe name, PLEASE.  ISN't this STUPID?-->
<div class="shoes" id="1"><div class="shoeName">Golden beige</div>           <div><img      src="../img/Baby_leather_shoes_000.jpg" alt="BABY LEATHER SHOES Golden beige">          </div> <div class="cardBottom"> <button class="addtocart" id="Golden_beige">     Add to cart</button><span class="price">25 €</span></div></div>
<div class="shoes" id="2"><div class="shoeName">Shiny golden</div>           <div><img      src="../img/Baby_leather_shoes_001.jpg" alt="BABY LEATHER SHOES Shiny golden">          </div> <div class="cardBottom"> <button class="addtocart" id="Shiny_golden">     Add to cart</button><span class="price">20 €</span></div></div>
<div class="shoes" id="3"><div class="shoeName">Pixy beige</div>             <div><img        src="../img/Baby_leather_shoes_002.jpg" alt="BABY LEATHER SHOES Pixy beige">          </div> <div class="cardBottom"> <button class="addtocart" id="Pixy_beige">       Add to cart</button><span class="price">30 €</span></div></div>
<div class="shoes" id="4"><div class="shoeName">Browny orange</div>          <div><img     src="../img/Baby_leather_shoes_003.jpg" alt="BABY LEATHER SHOES Browny orange">          </div> <div class="cardBottom"> <button class="addtocart" id="Browny_orange">    Add to cart</button><span class="price">35 €</span></div></div>
<div class="shoes" id="5"><div class="shoeName">Pinky brown</div>            <div><img       src="../img/Baby_leather_shoes_004.jpg" alt="BABY LEATHER SHOES Pinky brown">          </div> <div class="cardBottom"> <button class="addtocart" id="Pinky_brown">      Add to cart</button><span class="price">30 €</span></div></div>
<div class="shoes" id="6"><div class="shoeName">Dark brown</div>             <div><img        src="../img/Baby_leather_shoes_005.jpg" alt="BABY LEATHER SHOES Dark brown">          </div> <div class="cardBottom"> <button class="addtocart" id="Dark_brown">       Add to cart</button><span class="price">32 €</span></div></div>
<div class="shoes" id="7"><div class="shoeName">Cloudy grey</div>            <div><img       src="../img/Baby_leather_shoes_006.jpg" alt="BABY LEATHER SHOES Cloudy grey">          </div> <div class="cardBottom"> <button class="addtocart" id="Cloudy_grey">      Add to cart</button><span class="price">32 €</span></div></div>
<div class="shoes" id="8"><div class="shoeName">Browny aquamarine</div>        <div><img    src="../img/Baby_leather_shoes_007.jpg" alt="BABY LEATHER SHOES Browny aquamarine">     </div> <div class="cardBottom"> <button class="addtocart" id="Browny_aquamarine">Add to cart</button><span class="price">35 €</span></div></div>
<div class="shoes" id="9"><div class="shoeName">Blacky brown</div>           <div><img      src="../img/Baby_leather_shoes_008.jpg" alt="BABY LEATHER SHOES Blacky brown">          </div> <div class="cardBottom"> <button class="addtocart" id="Blacky_brown">     Add to cart</button><span class="price">35 €</span></div></div>
<div class="shoes" id="10"><div class="shoeName">Heart</div>             <div><img        src="../img/main_photo.jpg"             alt="BABY LEATHER SHOES' Heart">              </div> <div class="cardBottom"> <button class="addtocart" id="Heart">            Add to cart</button><span class="price"> 1 :)  </span></div></div>

    </div> 
    
    <div class="btn-grp clear_buy"><button type="button" id="clearCart">Clear the cart</button>
        <div id="total"><span id="cartprice">0</span><span>€</span></div>
        <button type="button" id="buyCart">Buy selected</button></div>
    <nav id="rightnav"><div id="cartlogo"><img src="../img/logo.jpg" alt="logo"></div>
        <!-- <p><button id="expandcart">more in cart</button></p> -->

    </nav>


    <footer id="footer"><h3>Little Bird Shoes</h3>
        <p> Exclusive leather shoes and other cute things for little ones ⭐️ Made in Ireland 🍀 Worldwide shipping 🌎</p></footer>

</div>
    <script src="shoes_simple_copy.js"></script>
</body>

</html>